In [ ]:
#Task 1 : Table Booking and Online Delivery
import pandas as pd
# Load the CSV file into a DataFrame
df = pd.read_csv('/content/Dataset  (1).csv')

In [ ]:
print(df.dtypes)

Restaurant ID             int64
Restaurant Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking        object
Has Online delivery      object
Is delivering now        object
Switch to order menu     object
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
dtype: object

In [ ]:
# Convert 'Has Table booking' and 'Has Online delivery' to boolean values if they are strings
df['Has Table booking'] = df['Has Table booking'].map({'Yes': True, 'No': False})
df['Has Online delivery'] = df['Has Online delivery'].map({'Yes': True, 'No': False})

# Convert to boolean if they are not already
df['Has Table booking'] = df['Has Table booking'].astype(bool)
df['Has Online delivery'] = df['Has Online delivery'].astype(bool)

In [ ]:
# Calculate the percentage of restaurants offering table booking
table_booking_percentage = (df['Has Table booking'].sum() / len(df)) * 100

# Calculate the percentage of restaurants offering online delivery
online_delivery_percentage = (df['Has Online delivery'].sum() / len(df)) * 100

print(f"Percentage of restaurants offering table booking: {table_booking_percentage:.2f}%")
print(f"Percentage of restaurants offering online delivery: {online_delivery_percentage:.2f}%")

Percentage of restaurants offering table booking: 12.12%
Percentage of restaurants offering online delivery: 25.66%

In [ ]:
# Group by 'Has Table booking' and calculate the average rating for each group
avg_rating_table_booking = df.groupby('Has Table booking')['Aggregate rating'].mean()

print("Average ratings:")
print(avg_rating_table_booking)

Average ratings:
Has Table booking
False    2.559359
True     3.441969
Name: Aggregate rating, dtype: float64

In [ ]:
# Group by 'Price range' and calculate the percentage of restaurants with online delivery in each group
online_delivery_by_price = df.groupby('Price range')['Has Online delivery'].mean() * 100

print("Percentage of restaurants with online delivery by price range:")
print(online_delivery_by_price)

Percentage of restaurants with online delivery by price range:
Price range
1    15.774077
2    41.310633
3    29.190341
4     9.044369
Name: Has Online delivery, dtype: float64

# Task_2: Price Range Analysis

In [ ]:
# Determine the most common price range among all restaurants
most_common_price_range = df['Price range'].mode()[0]
print(f"Most common price range: {most_common_price_range}")

Most common price range: 1

In [ ]:
# Calculate average rating for each price range
average_rating_by_price_range = df.groupby('Price range')['Aggregate rating'].mean()
print("Average rating for each price range:")
print(average_rating_by_price_range)

Average rating for each price range:
Price range
1    1.999887
2    2.941054
3    3.683381
4    3.817918
Name: Aggregate rating, dtype: float64

In [ ]:
# Find the price range with the highest average rating
highest_rating_price_range = average_rating_by_price_range.idxmax()

# Get the corresponding color
highest_rating_color = df[df['Price range'] == highest_rating_price_range]['Rating color'].iloc[0]

print(f"The price range '{highest_rating_price_range}' has the highest average rating.")
print(f"The color representing the highest average rating is '{highest_rating_color}'.")

The price range '4' has the highest average rating.
The color representing the highest average rating is 'Green'.

# Task_3: Feature Engineering

In [ ]:
# Extract additional features: Length of restaurant name and address
df['Restaurant Name Length'] = df['Restaurant Name'].apply(len)
df['Address Length'] = df['Address'].apply(len)

# Display the first few rows to verify the new features
print(df[['Restaurant Name', 'Restaurant Name Length', 'Address', 'Address Length']].head())

          Restaurant Name  Restaurant Name Length  \
0        Le Petit Souffle                      16
1        Izakaya Kikufuji                      16
2  Heat - Edsa Shangri-La                      22
3                    Ooma                       4
4             Sambo Kojin                      11

                                             Address  Address Length
0  Third Floor, Century City Mall, Kalayaan Avenu...              71
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...              67
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...              56
3  Third Floor, Mega Fashion Hall, SM Megamall, O...              70
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...              64

In [ ]:
# Create new binary features by encoding categorical variables
df['Has Table Booking'] = (df['Has Table booking'] == 'Yes').astype(int)
df['Has Online Delivery'] = (df['Has Online delivery'] == 'Yes').astype(int)

# Display the first few rows to verify the new features
print(df[['Has Table booking', 'Has Table Booking', 'Has Online delivery', 'Has Online Delivery']].head())

   Has Table booking  Has Table Booking  Has Online delivery  \
0               True                  0                False
1               True                  0                False
2               True                  0                False
3              False                  0                False
4               True                  0                False

   Has Online Delivery
0                    0
1                    0
2                    0
3                    0
4                    0